In [5]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import itertools

In [15]:
PATH = './../'
PATH_DATA_RAW = PATH + 'data/raw/'
PATH_DATA_INTERMEDIATE = PATH + 'data/intermediate/'
PATH_DATA_PROCESSED = PATH + 'data/processed/'
PATH_UTILS = PATH + 'src/'

In [16]:
import os
import sys
# Allow imports from parent directory 
#module_path = os.path.abspath(os.path.join(os.pardir))
if PATH_UTILS not in sys.path:
    sys.path.append(PATH_UTILS)

In [17]:
import density_generators

# Loading Data

In [18]:
num_users = 5
num_items = 8

In [24]:
users = [f'C{c}' for c in range(num_users)]
items = [f'I{i}' for i in range(num_items)]
user_col = 'city'
item_col = 'industry'
mydf = pd.DataFrame(list(itertools.product(users, items)),
                      columns = [user_col, item_col])
mydf['value'] = np.linspace(1, mydf.shape[0], num=mydf.shape[0]) + np.random.lognormal(0, 2, mydf.shape[0])
mydf.ends(3)

   city industry      value
0    C0       I0   3.068595
1    C0       I1  10.584104
2    C0       I2   3.045649
37   C4       I5  38.960418
38   C4       I6  41.322018
39   C4       I7  55.441639