In [1]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [3]:
import numpy as np
import pandas as pd

In [4]:

filepath = 'https://intl-atlas-downloads.s3.amazonaws.com/country_hsproduct4digit_year.csv.zip'

df = pd.read_csv(filepath)

C:\Users\agomez\AppData\Local\Continuum\Anaconda3\envs\fastai_env\lib\site-packages\IPython\core\interactiveshell.py:3044: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df.head()

,year,export_value,import_value,export_rca,cog,distance,hs_eci,hs_coi,sitc_eci,sitc_coi,pci,location_code,location_name_short_en,hs_product_code,hs_product_name_short_en
0,1995,18000.0,7199.0,0.130978,-0.026350,0.986371,-0.145284,-1.022883,-0.497029,-1.102927,0.029435,ABW,Aruba,101,Horses
1,1996,0.0,3800.0,0.000000,-0.023448,0.992841,-0.137835,-1.085390,-0.793010,-1.142984,-0.035006,ABW,Aruba,101,Horses
2,1997,0.0,0.0,0.000000,0.002196,0.993578,-0.916167,-1.117452,-1.248937,-1.185232,0.035813,ABW,Aruba,101,Horses
3,1998,0.0,0.0,0.000000,0.039962,0.985613,0.458254,-1.003824,-0.179625,-1.091902,-0.012857,ABW,Aruba,101,Horses
4,1999,14947.0,44998.0,0.061158,0.065873,0.984802,0.060021,-1.071245,-0.427224,-1.144503,0.121131,ABW,Aruba,101,Horses